a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: azure;
}

main {
    height: 90%;
    width: 100%;
}

#cont {
    height: 100%;
    width: 100%;
}

#aboutWindow {
    visibility: hidden;
}

#certWindow {
    visibility: hidden;
}

#contactWindow {
    visibility: hidden;
}

#photoGalleryWindow {
    visibility: hidden;
}

#blogWindow {
    visibility: visible;
}


#tabs {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 10%;
    margin-top: 1%;
}

.tabBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    width: 90%;
    height: 7%;
    margin-top: 3%;
    padding: 5%;
    background-color: var(--main);
    color: white;
    font-weight: bolder;
    text-align: start;
    font-size: calc(0.25vw + 0.5rem);
    overflow: hidden; 
    text-overflow: ellipsis;
}

.tabBtn:hover {
    background-color: white;
    color: black;
    padding: 3%;
    font-weight: bolder;
}

.tabBtn:active {
    background-color: rgba(0, 0, 0, 0.241);
    color: white;
    padding: 3%;
    font-weight: bolder;
}

#windowCont {
    height: 100%;
    width: 100%;
}

.window {
    border: 0.25rem solid var(--main);
    height: 85%;
    width: 85%;
    background-color: azure;
    position: fixed;
}

.windowBar {
    justify-content: flex-start;
    height: 5%;
    width: 100%;
    background-color: var(--main);
}

.windowBar>h2 {
    margin-left: 1%;
    font-family: monospace;
    color: white;
}

.windowContent {
    display: flex;
    height: 92%;
    margin: 1%;
    font-family: monospace;
    font-size: 2rem;
}

#aboutText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
}

#aboutText>p {
    font-size: calc(.25rem + 1vh + 1vw);
    margin-top: 2%;
    text-indent: 3%;
   
}

#meme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#meme>img {
    border: 0.25rem solid var(--main);
    height: 70%;
    width: 75%;
}

#certifications {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
}

#certifications>h3 {
    width: 100%;
    height: 10%;
    margin-left: 5%;
}

#certifications>div {
    height: 90%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start ;
}

#certifications>div>img {
    margin: 12% 0 5% 0;
}

#contactMeContainer {
    width: 100%;

}

#contactMe {
    height: 90%;
    width: 75%;
    background-color: #0a1623;
    color: azure;
}

.blogTemplate {
    margin-top: 1%;
}

#blogContent {
    width: 100%;
    overflow-y: scroll;
}

.blogArea {
    margin: 0 1.5% 0 1.5%;
}

.textArea {
    width: 60%;
}

.textArea>p {
    margin: 1% 0 1% 0;
    font-size: smaller;
}

.blogArea {
    display: flex;
    flex-direction: row;
}

.imgArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
}

.imgArea>img {
    max-width: 350px;
    margin-top: 5%;
}

#galleryArea {
    outline: 1px solid  red;
    width: 100%;
    margin-bottom: 1%;
}