main {
    height: 100%;
    width: 100%;
}

#calculator-container {
    flex-direction: column;
    height: 92%;
    width: 85%;
}

#calculator-navbar {
    height: 10%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}

.tab {
    height: 60%;
    width: 20%;
    color: white;
    font-family: helvetica;
    border: none;
    background-color: rgb(70, 70, 70);
    font-size: calc(0.75vh + 0.75vw);
    outline: 1px solid gray;
    padding: 0 2% 0 2%;
}

#budget-tab {
    background-color: rgb(36, 36, 36);
    outline: none;

}

#calculator-lightbar {
    height: 0.7%;
    width: 100%;
    background-image: linear-gradient(rgb(0, 100, 180), rgba(255, 255, 255, 0.75), rgb(0, 100, 180));
    box-shadow: 0 0 10px 5px rgba(0, 100, 180, 0.7);
    z-index: 21;
}

#calculator-content {
    background-color: rgb(36, 36, 36);
    height: 90%;
    width: 100%;
}

.calculator {
    display: flex;
    position: absolute;
    height: 75%;
    width: 85%;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    visibility: hidden;
}

#budget-calculator {
    visibility: visible;
}

.input-section {
    height: 40%;
    flex-direction: column;
}

.input-wrap {
    margin: 5%;
    height: 25%;
    width: 75%;
}

.input-wrap > h4 {
    height: 50%;
    width: 100%;
    font-size: calc(1vh + 1.5vw);
} 

.input-wrap > input {
    height: 30%;
    width: 80%;
}

.output-section {
    height: 30%;
    flex-direction: column;
    padding: 2% 0 2% 0;
}

.button-wrap {
    height: 50%;
    width: 100%;
}

.calculate-button {
    border: outset rgb(0, 150, 250);
    background-color: rgb(0, 150, 250);
    color: white; 
    height: 55%;
    width: 25%;
}

.output-wrap {
    height: 50%;
    width: 100%;
    flex-direction: column;
}

.output {
    color: green;
    width: 95%;
    text-align: center;
    font-size: calc(3vh + 2vw);
}

.description-section {
    height: 30%;
}

.description-section > p {
    display: flex;
    flex-direction: column;
    padding: 0% 2% 2% 5%;
    height: 85%;
    width: 85%;
    font-size: calc(1vh + 1vw);
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .25rem;
}

/*----------  Subsection comment block  ----------*/

#compound-buttons {
    flex-wrap: wrap;
}

#compound-buttons > button {
    width: 25%;
    height: 40%;
    margin: 2%;
    font-size: calc(0.9vh + 1.2vw);
}


/*=============================================
=            non mobile            =
=============================================*/
@media only screen and (min-width: 600px) {

    #calculator-container {
        width: 65%;
    }

    .tab {
      font-size: calc(0.75vh + 0.5vw);
      height: 70%;
    }

    .input-wrap > h4 {
        font-size: calc(1vh + 1vw);
    }

    .output-wrap > h4 {
        font-size: calc(1vh + 1vw);
    }


    .calculator{
        width: 63%;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
    }

    .input-section {
        height: 65%;
        width: 50%;
        
    }

    .output-section {
        height: 65%;
        width: 50%;
    }

    .calculate-button {
        height: 30%;
        font-size: calc(1vh + 0.5vw);
    }

    .description-section {
        height: 35%;
        width: 100%;
    
    }

    .description-section > p {
        height: 80%;
        width: 80%;
    }

    #compound-input-section {
        height: 65%;
    }
    
    #compound-output-section {
        height: 65%;
    }

    #compound-buttons > button {
        height: 25%;
    }
}