main {
    height: 90%;
    width: 100%;
}

#calculator-container {
    flex-direction: column;
    height: 92%;
    width: 85%;
}

#calculator-navbar {
    height: 10%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}

.tab {
    height: 60%;
    width: 20%;
    color: white;
    font-family: helvetica;
    border: none;
    background-color: rgb(70, 70, 70);
    font-size: calc(1vh + 1vw);
    outline: 1px solid gray;
}

#budget-tab {
    background-color: rgb(36, 36, 36);
    outline: none;

}

#calculator-lightbar {
    height: 0.7%;
    width: 100%;
    background-image: linear-gradient(rgb(0, 100, 180), rgba(255, 255, 255, 0.75), rgb(0, 100, 180));
    box-shadow: 0 0 10px 5px rgba(0, 100, 180, 0.7);
    z-index: 21;
}

#calculator-content {
    background-color: rgb(36, 36, 36);
    height: 90%;
    width: 100%;
}

.calculator {
    position: absolute;
    height: 71%;
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    visibility: hidden;
    justify-content: center;
}

#budget-calculator {
    visibility: visible;
}

.input-section {
    height: 50%;
    flex-direction: column;
}

.input-wrap {
    margin: 5%;
    height: 25%;
    width: 75%;
}

.input-wrap > h4 {
    height: 50%;
    width: 100%;
    font-size: calc(1vh + 1.5vw);
} 

.input-wrap > input {
    height: 30%;
    width: 95%;
}

.output-section {
    height: 25%;
    flex-direction: column;
}

.button-wrap {
    height: 50%;
    width: 100%;
}

.calculate-button {
    border: outset rgb(0, 150, 250);
    background-color: rgb(0, 150, 250);
    color: white; 
    height: 55%;
    width: 25%;
}

.output-wrap {
    height: 50%;
    width: 100%;
    flex-direction: column;
}

.output {
    color: green;
    width: 95%;
    text-align: center;
    font-size: calc(3vh + 2vw);
}

.description-section {
    height: 25%;

}

.description-section > p {
    display: flex;
    flex-direction: column;
    padding: 0% 2% 2% 5%;
    height: 100%;
    width: 100%;
    font-size: calc(1vh + 1vw);
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .25rem;
}

/*----------  Subsection comment block  ----------*/

#compound-input-section {
    height: 40%;
}

#compound-output-section {
    height: 35%;
}

#compound-buttons {
    flex-wrap: wrap;
}

#compound-buttons > button {
    width: 25%;
    height: 40%;
    margin: 2%;
}

#compound-description-section {
}


/*=============================================
=            non mobile            =
=============================================*/
@media only screen and (min-width: 600px) {


}