main {
    height: 90%;
    width: 100%;
}

#calculator-container {
    flex-direction: column;
    height: 92%;
    width: 85%;
}

#calculator-navbar {
    height: 10%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}

.tab {
    height: 60%;
    width: 20%;
    color: white;
    font-family: helvetica;
    border: none;
    background-color: rgb(70, 70, 70);
    font-size: calc(0.75vh + 0.75vw);
    outline: 1px solid gray;
    padding: 1%;
}

#calculator-lightbar {
    height: 0.7%;
    width: 100%;
    background-image: linear-gradient(rgb(0, 100, 180) , rgba(255, 255, 255, 0.75), rgb(0, 100, 180));
    box-shadow: 0 0 10px 5px rgba(0, 100, 180, 0.7);
    z-index: 21;
}

.calculator-wrap {
    height: 100%;
    width: 100%;
    background-color: rgb(36, 36, 36)
}

.calculator {
    position: absolute;
    height: 71%;
    width: 85%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    color: white;
    visibility: hidden;
}