main {
    height: 100%;
    width: 100%;
}

#main-container {
    flex-direction: column;
    height: 92%;
    width: 85%;
}

#main-navbar {
    height: 10%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}

.tab {
    height: 60%;
    width: 20%;
    color: white;
    font-family: helvetica;
    border: none;
    background-color: rgb(70, 70, 70);
    font-size: calc(1vh + 1vw);
    outline: 1px solid gray;
}


#cribbage-tab {
    background-color: rgb(36, 36, 36);
    outline: none;
}

#main-lightbar {
    height: 0.7%;
    width: 100%;
    background-image: linear-gradient(rgb(0, 100, 180) , rgba(255, 255, 255, 0.75), rgb(0, 100, 180));
    box-shadow: 0 0 10px 5px rgba(0, 100, 180, 0.7);
    z-index: 21;
}

#main-content-container {
    background-color: rgb(36, 36, 36);
    height: 100%;
    width: 100%;
}

#game-canvas {
    height: 97%;
    width: 95%;
    flex-direction: column;
}

#scoreboard {
    background-color: rgba(255, 255, 255, 0.35);
    height: 10%;
    width: 100%;
}

#gamefield{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.space {
    height: 14.2857%;
    width: 20%;
}

.space:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


#hand {
    background-color: rgba(255, 255, 255, 0.15);
    height: 15%;
    width: 100%;
    
    justify-content: space-evenly;
    align-items: center;
}

.piece {
    height: 50%;
    width: 25%;
}