.card {
    height: 40%;
    width: 95%;
    box-shadow: 0 0 10px 7px rgba(0, 100, 180, 0.7);
    border-radius: 0.35rem;
}

.card-header {
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-title {
    height: 80%;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.card-main {
    background-color: white;
    height: 90%;
    width: 100%;
    display: flex;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;  
}

.project-layer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

.project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 5px 5px grey;
    border-radius: .25rem;
    height: 60%;
    width: 20%;
}

/*=============================================
=                    Main                    =
=============================================*/

main {
    height: 90%;
    width: 100%;
}

#main-content {
    height: 97%;
    width: 94%;
    flex-direction: column;
    justify-content: space-evenly;
}

#about-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100%;
}

#about-left > p {
    height: 92%;
    width: 90%;
    display: flex;
    align-items: center;
    
    font-size: calc(3vw + 1vh);
}

#about-right{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#email-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

#email-link {
    height: 70%;
    width: 60%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/assets/icons/icons8-email-100.png);

}

#resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

#resume-link {
    height: 60%;
    width: 85%;
    margin-bottom: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/icons/icons8-resume-100.png);
}

#project-main {
    flex-direction: column;
}

.project-link > h4 {
    text-decoration: none;
    font-size: calc(.5vw + 1vh);
    color: black;
}

.project-link > h4::after {
    
}   

.project-link > img {
    height: 50%;
}