* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --darkmain: rgb(35, 35, 35);
    --dark2: rgb(75, 75, 75);
    --darkhl: rgb(215, 215, 215);
    --brand:rgb(255, 115, 0);
}


.container {
    display: flex;
    flex: 1 1;
}

body {
    flex-direction: column;
    background-color: var(--darkhl);
    height: auto;
    width: 100%;
    align-items: center;
}

nav {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: var(--darkmain);
    align-items: center;
}

nav > a {
    width: 100px;
    height: 100%;
}

h1 {
    text-align: center;
    width: 100%;
    color: white;
}

#toc-link {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 1%;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

main {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    height: 100%;
    width: 95%;
}

section {
    width: 100%;
    margin-top: 2%;
    margin-left: 1%;
}