body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

:root {
    --darkmain: rgb(35, 35, 35);
    --dark2: rgb(75, 75, 75);
    --darkhl: rgb(215, 215, 215);
    --brand:rgb(255, 115, 0);
}

main {
    height: 100%;
    justify-content: flex-start;
}

span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: white;
}

span > a {
    margin-right: 20px;
    color: white;
    transition-duration: 500ms;
    font-size: 1.5rem;
}

span > a:hover {
    font-size: 1.7rem;
}

#pic-container {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;
}

.pics {
    width: 45%;
    aspect-ratio: 1/1;
    margin-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
}

#pic1 {
    background-image: url(../images/dogs/dsafdsa.webp);
}

#pic2 {
    background-image: url(../images/dogs/dsfgsdfg.jpg);
}

#pic3 {
    background-image: url(../images/dogs/erdgerg.jpg);
}

#pic4 {
    background-image: url(../images/dogs/esfef.jpg);
}

#pic5 {
    background-image: url(../images/dogs/esfews.jpg);
}

#pic6 {
    background-image: url(../images/dogs/ewfwafw.jpg);
}

#pic7 {
    background-image: url(../images/dogs/ewrfdwefwe.jpg);
}

#pic8 {
    background-image: url(../images/dogs/gdrgfer.jpg);
}

iframe {
    margin-top: 100px;
    height: 100%;
    width: 100%;
}


@media screen and (min-width:600px) {
    #pic3, #pic4, #pic5, #pic6, #pic7, #pic8{
        display: none;
    }
    .pics {
        margin-top: 1.5%;
    }

    #pic-container {
        margin-top: 0;
    }

    h1 {
        font-size: 2.5rem;
    }
}