* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    display: flex;
    background-color: grey;
    flex-direction: column;
}

nav {
    background-color: rgb(5, 20, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

nav > a{
    height: 100px;
}

main {
    background-color: #fff8eb;
    padding: 2% 3%;
}

#statement {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 3%;
    background-color: white;
    border: 3px solid black;
    padding: 2%;
}

h2 {
    margin-top: 1rem;
}

section {
    padding: 0 1rem;
    font-size: 1.1rem;
}

section > p {
    margin-top: 1rem;
}

section > ul {
    margin: 1rem 0 1rem 2rem;
}

pre {
    margin-top: 1rem;
    border-radius: .5rem;
    font-weight: bolder;
}

pre > code {
    border-radius: 0.5rem;
}

.output {
    border-radius: .5rem;
    background-color: rgb(11, 13, 14);
    overflow-x: auto;
    color: rgb(81, 255, 0);
    text-shadow: green 1px 1px 10px;
}

section > img {
    width: 100%;
}

section > p > a {
    margin-top: 1rem;
    background-color: white;
    width: 100%;
    height: auto;
}
section > p > a > img {
    width: 100%;
}
