header {
    display: flex;
    height: 5%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

#homeIcon {
    width: 50%;
}

#homeLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    height: 90%;
    background-image: none;
}

#resume {
    height: 95%;
    width: 55%;
    background-color: white;
    border-radius: 0.25rem;
    overflow-y: auto;
    box-shadow: 10px 10px rgba(255, 255, 255, 0.13);
}

#heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#navyPara, #margatePara {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


#broward, #natc, #monarch {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#skillCont {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

h2,h3,p,b,i,a {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

footer {
    height: 5%;
}