* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 80%;
    width: 50%;
    justify-content: space-between;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: rgb(56, 56, 56);
}


/*=============================================
=                   Header                  =
=============================================*/

header {
    height: 10%;
    width: 100%;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
}

nav {
    height: 95%;
    width: 100%;
    flex-direction: row;
}

#nav-title {
    height: 100%;
    width: 50%;
}

#nav-title > h1 {
    font-family: helvetica;
    color: white;
    font-size: calc(4vw + 1vh);
    padding-left: 5%;
}

#nav-page-links {
    height: 100%;
    width: 10%;
}

#nav-outside-links {
    height: 100%;
    width: 40%;
}


#nav-lightbar {
    background-image: linear-gradient(rgb(0, 100, 180) , rgba(255, 255, 255, 0.75), rgb(0, 100, 180));
    box-shadow: 0 0 10px 5px rgba(0, 100, 180, 0.7);
    height: 5%;
    width: 100%;
    z-index: 1;
}

#linkedin-link {
    background-image: url(../icons/icons8-linkedin-100.png);
}

#github-link {
    background-image: url(../icons/icons8-github-100.png);
}


/*=============================================
=            MAIN            =
=============================================*/

main {
    height: 100%;
    width: 100%;
}

#main-container {
    flex-direction: column;
    height: 92%;
    width: 85%;
}

#main-navbar {
    height: 10%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}

.tab {
    height: 60%;
    width: 20%;
    color: white;
    font-family: helvetica;
    border: none;
    background-color: rgb(70, 70, 70);
    font-size: calc(1vh + 1vw);
}

.tab:hover {
    background-color: gray;
}

#about-tab {
    background-color: rgb(36, 36, 36);
}


#project-tab {
    outline: 1px solid gray;
}

#resume-tab {
    outline: 1px solid gray;
}

#main-lightbar {
    height: 0.7%;
    width: 100%;
    background-image: linear-gradient(rgb(0, 100, 180) , rgba(255, 255, 255, 0.75), rgb(0, 100, 180));
    box-shadow: 0 0 10px 5px rgba(0, 100, 180, 0.7);
    z-index: 21;
}

#main-content-container {
    background-color: rgb(36, 36, 36);
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    height: 75.5%;
    width: 85%;
}

#about {
   flex-direction: column;
}

#project {
    visibility: hidden;
    
}

#resume {
    background-color: white;
    visibility: hidden;
}

#resume > object {
    height: 100%;
    width: 100%;
}

#about-text-container {
    height: 100%;
    width: 90%;
    margin-top: 5%;
    color: white;
}

#email-link {
    height: 20%;
    width: 50%;
    font-size: calc(1vh + 0.5vw);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

#email-link > img {
    height: 50%;
}

#project-container {
    height: 95%;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-button {
    height: 75px;
    width: 75px;
    margin: 2%;
    border-radius: .15rem;
    border: none;
    box-shadow: inset 0 0 5px 5px rgba(51, 51, 51, 0.432);
    background-color: white;
}

.project-link {
    text-decoration: none;
    color: black;
    flex-direction: column;
    height: 99%;
    width: 99%;
}

.project-link > img {
    height: 50%;
    width: 50%;
}