* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --darkmain: rgb(35, 35, 35);
    --dark2: rgb(10, 10, 10);
    --darkhl: rgb(215, 215, 215);
    --brand:rgb(255, 115, 0);
}

.container {
    display: flex;
    flex: 1 1;
}

.content {
    padding-top: 10%;
    flex: 1 1;
    width: 90%;
}

body {
    flex-direction: column;
    background-color: var(--darkmain);
    height: auto;
}

nav {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: var(--brand);
    align-items: center;
}

nav >img {
    width: 100px;
    aspect-ratio: 1/1;
}

#nav-links {
    justify-content: space-evenly;
    font-weight: bolder;
    font-size: 0.8rem;
}

#nav-links > li > a {
    color: white;
    transition-duration: 500ms;
}

#nav-links > li:hover {
    font-size: larger;
}

main {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

section {
    flex-direction: column;
    background-color: var(--darkhl);
    padding: 3%;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 3px rgba(255, 255, 255, 0.3);
}

section > p {
    padding: 3%;
    font-size: 1.5rem;
}

section > footer {
    padding-top: 3%;
    text-align: center;
}

section > footer > ul {
    display: flex;
    justify-content: space-evenly;
}

section > footer > ul > li > a {
    color: black;
    display: flex;
    flex-direction: column;
}

section > footer > ul > li > a > img {
    width: 50px;
    transition-duration: 500ms;
}

section > footer > ul > li > a > img:hover {
    width: 55px;
}

#learning-mods > li {
    list-style: circle;
    font-size: calc(1vw + 1rem);
    margin-top: 3%;
    margin-left: 20px;
}

#card-container {
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-top: 10px;
    border-radius: .5rem;
    background-color: var(--dark2);
    width: 95%;
    padding: 3%;
}

.card > a{
    color: white;
}

.card > a::after {
    color: white;
}

.card > a > header {
    width: 100%;
    display: flex;
    align-items: center;

}

.card > a > header > h3 {
    width: 100%;
    font-size: calc(1vw + 1.2rem);
}

.card > a > header > img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
}

.card > a > p {
    margin-top: 7px;
    font-size: calc(1vw + 1rem);
}

@media screen and (min-width:600px){
    #nav-links {
        font-size: 1.2rem;
    }

    section > p {
        font-size: 2rem;
    }

    section > footer > ul > li > a  {
        font-size: 1rem;
    }

    section > footer > ul > li > a > img {
        width: 75px;
    }

    section > footer > ul > li > a > img:hover {
        width: 100px;
    }

    #learning-mods > li{
        font-size: 1.5rem;
        margin-top: 1%;
    }

    .content {
        padding-top: 3%;
    }

    section {
        box-shadow: 10px 10px 10px 7px rgba(255, 255, 255, 0.2);
    }
}