/*Globals*/
* {
margin: 0;
color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --BG1: rgb(36, 39, 39);
    --BG2: rgba(52, 55, 57, 0.556);
    --Accent: rgba(58, 159, 242, 0.489);
    --Accent2: rgba(26, 138, 230, 0.857);

}

/*Content*/
body {
    flex-direction: column;    
    height: 110vh;
    width: 100%;
    background-image: url(./images/20803.jpg);
    background-size: 600px 700px;
}


/* ------------------------------ Top --------------------------------- */
header {
    background-color: var(--BG1);
    height: 10%;
    position: fixed;
    top: 0;
}

nav {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    align-items: center;
    margin: 7%;
}

#icon-cont {
    justify-content: space-evenly;
    width: 60%;
    height: 90%;
}

.icon {
    display: flex;
    height: 80%;
    width: 20%;
}

/* --------------------------------- Middle --------------------------- */
main {
    height: 100vh;
    width: 100%;
}

#main-cont {
    margin-top: 20%;
    height: 80%;
    width: 90%;
    border-radius: .2rem;
    background-color: var(--BG2);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.553);
    z-index: -1;
}

/* --------------------------------- Bottom --------------------------- */
footer {
    background-color: var(--BG1);
    height: 10vh;
    width: 100%;
}


/*Desktop styling*/
@media only screen and (min-width: 768px) {
}