main {
    justify-content: center;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 70vw;
    background-color: white;
}

#heading {
    background-color: #4a90e6;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    color: white;
}

#content {
    display: flex;
    height: 100%;
    width: 100%;
}

#paraCont {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 60%;
}

#para {
    outline: 1px solid blue;
    height: 90%;
    padding: 1vw;
}

p {
    text-indent: 1vw;
    margin-bottom: 1vw;
}

#imgCont {
    
}

img {
    height: 100px;
}