main {
    height: 90%;
    width: 100%;
    justify-content: center;
}

#content {
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width: 40%;
    min-width: 650px;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(216, 58, 58);
}

#hello {
    width: 100%;
    height: 30%;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hello>h2 {
    font-size: calc(6rem + 1vw);
    color: rgb(243, 241, 235);
}

#hello>h3 {
    font-size: calc(1rem + 1vw);
    color: rgb(243, 241, 235);
}

#name {
    background-color: rgb(243, 241, 235);
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#name>h2 {
    font-size: calc(6rem + 1vw);
    color: rgb(74, 144, 230);
    font-family: digital;
}

#name>h3 {
    font-size: calc(2rem + 1vw);
    color: rgb(74, 144, 230);
    font-family: digital;
}

@media screen and (max-width: 450px) {
    #content {
        min-width: 100px;
        width: 90%;
        height: 50%;
        max-height: 350px;
    }

    #hello {
        padding-bottom: 1vw;
    }

    #hello>h2 {
        font-size: calc(3rem + 1vw);
    }
    
    #hello>h3 {
        font-size: calc(1rem + 1vw);
    }

    #name>h2 {
        font-size: calc(3rem + 1vw);
    }
    
    #name>h3 {
        font-size: calc(1.5rem + 1vw);
    }
}

@media screen and (min-width: 650px) {
    #content {
        min-width: 500px;
        min-height: 280px;
    }
    
    #hello>h2 {
        font-size: calc(3rem + 1vw);
    }
    
    #hello>h3 {
        font-size: calc(1rem + 1vw);
    }

    #name>h2 {
        font-size: calc(3rem + 1vw);
    }
    
    #name>h3 {
        font-size: calc(1.5rem + 1vw);
    }

}