* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pixel;
    src: url(../fonts/upheavtt.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(219, 230, 233, 0.801), rgb(130, 203, 240));
}

/*====================================CLASS=======================================*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.control {
    height: 40%;
    width: 45%;
    border-radius: 0.5rem;
    border: 0.2rem solid #ffffffd2;
    color: black;
    font-family: pixel;
    font-size: calc(2vh + 2vw);
    font-weight: 300;
    box-shadow: 5px 5px .05rem 0.15rem rgba(0, 0, 0, 0.45), inset 0 0 0.25rem 0.5rem rgba(0, 0, 0, 0.75);
    transition-duration: 300ms;
}

.control:hover {
    color: rgba(255, 255, 255, 0.7);
}

.control:active {
    box-shadow: 5px 5px 0.025rem 0.25rem rgba(0, 0, 0, 0.45), inset 0 0 0.25rem 0.5rem rgba(255, 255, 255, 0.75);
    border: 0.2rem solid #000000;
    color: white;
    font-size: calc(2vh + 3vw);
}
/*======================================ID========================================*/

/*Displays*/
#display-container {
    height: 70%;
}

#display {
    height: 95%;
    width: 100%;
}

/*About*/
#about-display {
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(250, 247, 209, 0),rgba(252, 244, 131, 0.75),rgba(34, 32, 18, 0.85) 100%);
}

#character {
    height: 70%;
}

#character > img {
    height: 90%;
}

#about-text {
    height: 30%;
    width: 95%;
    border: 10px ridge black;
    background-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0));
}

#about-bio {
    font-family: pixel;
    text-align: center;
    font-weight: 100;
    font-size: calc(1vh + 2.75vw);
    margin: 5%;
}

/*Controls*/
#control-container {
    height: 30%;
}

#controls {
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#about-control {
    background-image: linear-gradient(to bottom, #c40808 50%, #2b0202 100%);
}

#contact-control {
    background-image: linear-gradient(to bottom, #2891c9 50%, #09202e 100%);
}

#resume-control {
    background-image: linear-gradient(to bottom, #56b127 50%, #122509 100%);
}

#project-control {
    background-image: linear-gradient(to bottom, #df9828 50%, #251a07 100%);
}

