
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
}

@font-face {
    font-family: pixel;
    src: url(../fonts/upheavtt.ttf);
}

header {
    height: 7%;
    width: 100%;
    background-color: #222034;
    color: white;
    font-family: pixel;
    justify-content: space-evenly;
}

main {
    height: 100%;
    width: 100%;
}

h1 {
}

a {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 70%;
    aspect-ratio: 1/1;
}

object {
    height: 100%;
    width: 100%;
}